<ion-view view-title="Start page" class="scroll-bg">
  	<ion-content>
    	<ion-item class="item-light responsive-sm item-text-wrap center">
			<h2 style="font-size: 22px;color: #AA3939">Storebrand health application
			</h2>
		</ion-item>
		<div class="list list-inset">
			<a class="item item-icon-left item-light"  ng-click="toHealthProfile()">
				<i class="icon ion-android-bicycle"></i>
				<strong>Health Profile</strong>
			</a>
			<a class="item item-icon-left item-light" ng-click="toClaimList()">
				<i class="icon ion-email"></i>
				Claims
			</a>		
			<a class="item item-icon-left item-light" href="#/app/claimType">
				<i class="icon ion-android-add-circle"></i>
				Create New Claim
			</a>		
		</div>
  	</ion-content>
</ion-view>
