<ion-view title="ClaimForm" class="padding scroll-bg">
    <!--	<div class="bar bar-subheader bar-light" style="text-align: center;">
		<label style="font-size: 22px;"><strong>Fill in the detailed information</strong></label>
	</div>
-->
    <ion-content style="margin: 10px;">
        <!-- class="has-subheader" -->
        <div class="list list-inset">

            <label style="font-size: 18px;"><strong>Subject?</strong></label>
            <div>
                <textarea ng-model="Subject" placeholder="Give a short subject" rows="1" style="border: 1px solid #AFB3B5; width:100%;"></textarea>
            </div>

            <label style="font-size: 18px;"><strong>Reason?</strong></label>
            <div ng-repeat="reason in reasons">
                <ion-checkbox ng-model="reason.checked" ng-click="selectReason('{{reason.id}}')"><strong>{{reason.name}}</strong></ion-checkbox>
            </div>

            <ion-item class="item-balanced">
                <strong>Free form comment:</strong>
                <p>
                    <textarea ng-model="myFreeText" placeholder="Add description" rows="10" style="width:100%"></textarea>
                </p>
                <p />
                <button ng-click="submitClaim(myFreeText,myReason.name)" class="button button-light" style="color: black;">Submit</button>
            </ion-item>
        </div>
    </ion-content>
</ion-view>
