<ion-view view-title="Start page" class="scroll-bg">
	<div class="bar bar-subheader" style="text-align: center;">
		<label style="font-size: 22px;"><strong>Storebrand health application</strong></label>
	</div>

  	<ion-content class="has-subheader">
		<div class="list list-inset">
			<a class="item item-icon-left item-light" href="#/app/healthProfile">
				<i class="icon ion-android-bicycle"></i>
				<strong>Health Profile</strong>
			</a>
			<a class="item item-icon-left item-light" href="#/app/claimList">
				<i class="icon ion-email"></i>
				<strong>Claims</strong>
			</a>
			<a class="item item-icon-left item-light" href="#/app/claimType">
				<i class="icon ion-android-add-circle"></i>
				<strong>Create New Claim</strong>
			</a>		
		</div>
  	</ion-content>
</ion-view>
